/*###########################################################
* Theme cinnamon Retoucher Par Kiss-Kool!                   *
*############################################################*/
stage {
font-family: "Droid Sans", Impact;
font-size: 9pt;
color: #fff;
}
.cinnamon-link {
color: #fff;
text-decoration: underline;
}
.cinnamon-link:hover {
}
StScrollBar:hover {
padding: 0px;
}
StScrollView.vfade {
-st-vfade-offset: 68px;
}
StScrollView StScrollBar {
min-width: 5px;
min-height: 9px;
}
StScrollBar StBin#trough {
background-color:#303030;
border-radius:5px;
box-shadow: 0 1px 0 #3e3e3e, 0 2px 1px rgba(0,0,0,.9) inset;
}
StScrollBar StButton#vhandle {
background-color:#f53b57;
border-radius:5px;
min-width: 5px;
min-height: 9px;
}
StScrollBar StButton#hhandle {
background-color:#303030;
border-radius:5px;
box-shadow:
0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
0px 2px 2px 0px rgba(255, 255, 255, 0.5)
}
#Tooltip {
background-color:#3e3e3e;
border-radius:1px;
padding: 4px 8px;
font-size: 8pt;
border-radius: 1px;
}
/* ===================================================================
*Switches (On'Off) à utiliser dans les menus)
* ===================================================================*/
.toggle-switch {
width: 52px;
height: 20px;
}
.toggle-switch-us,
.toggle-switch-intl {
background-image: url("switch-off.png");
}
.toggle-switch-us:hover,
.toggle-switch-intl:hover {
backround: yellow;
}
.toggle-switch-us:checked,
.toggle-switch-intl:checked {
background-image: url("switch-on.png");
}
/* ===================================================================
* Menu contextuel (popupMenu.js) 
* ===================================================================*/
.popup-menu-boxpointer {
-arrow-border-radius: 1px;
-arrow-background-color: transparent;
-arrow-border-width: 0px;
-arrow-border-color: transparent;
-arrow-base: 64px;
-arrow-rise: 0px;
-boxpointer-gap: 10px;
}
.popup-menu {
background-color: #3e3e3e;
}
.menu {
background-color: #3e3e3e;
}
.popup-submenu-menu-item:open {
background-color: #3e3e3e;
}
.popup-sub-menu StScrollBar {
padding: 0px 0px 0px 4px;
}
/* ===================================================================
*Dimensionnement du menu contextuel
* ===================================================================*/
.popup-menu-content {
padding: 5px 0px;
background-color: #3e3e3e;
}
.popup-menu-item {
padding: 5px 10px;
background-color: #3e3e3e;
spacing: 10px;
}
.popup-menu-item:active {
background-color: rgba(109, 109, 109, 0.25);
border-radius:1px;
}
.popup-menu-item:insensitive {
}
.popup-image-menu-item {
}
.popup-combo-menu {
background-color: #3e3e3e;
border-radius:1px;
padding: 2px 3px;
}
.popup-combo-menu > .popup-menu-item {
padding: 5px 10px;
}
.popup-combobox-item {
spacing: 10px;
}
.popup-separator-menu-item {
background-color: #303030;
border-radius:1px;
height: 1px; 
}
.popup-alternating-menu-item:alternate {
}
.popup-slider-menu-item {
height: 18px;
min-width: 15em;
-slider-height: 4px;
-slider-background-color: #FFFFFF;
-slider-border-color: #3e3e3e;
-slider-active-background-color: #f53b57;
-slider-active-border-color: #000000;
-slider-border-width: 1px;
border-radius:5px;
-slider-handle-radius: 5px;
}
.popup-device-menu-item {
spacing: .5em;
}
.popup-inactive-menu-item {
color: #555;
font-weight: normal;
}
.popup-subtitle-menu-item {
font-weight: bold;
}
.popup-menu-icon {
icon-size: 1em;
}
.nm-menu-item-icons {
spacing: 5px;
}
/* ===================================================================
* Panel (panel.js)
* ===================================================================*/
#panel {
background-color: #3e3e3e;
font-size: 9pt;
height: 28px;
}
#panel:highlight {
background-color: #3e3e3e;
border-image: none;
}
#panelLeft, #panelCenter, #panelRight {
spacing: 1px;
background-color: #3e3e3e;
}
#panelLeft:ltr {
padding-left: 0px;
}
#panelLeft:rtl {
padding-left: 0px;
}
#panelRight:ltr {
padding-right: 0px;
spacing: 0px;
width: 290px;
}
#panelRight:rtl{
padding-right: 0px;
spacing: 0px;
background-color: #3e3e3e;

}
.panel-status-button,
.panel-button {
-natural-hpadding: 5px;
-minimum-hpadding: 5px;
font-weight: bold;
border: 1px solid transparent;
transition-duration: 150;
}
.panel-status-button:hover,
.panel-button:hover {
border-image: rgba(0,0,0,.4); 
transition-duration: 150;
}
.system-status-icon {
icon-size: 1.20em;
}
.system-status-icon.warning {
color: #e5e887;
}
.system-status-icon.error {
color: #fb5858;
}
#panelLeft:dnd {
}
#panelCenter:dnd {
}
#panelRight:dnd {
background-color: #3e3e3e;
}
/* ===================================================================
* Aperçu 
* ===================================================================*/
#overview {
background: #3e3e3e;
}
.expo-background {
background: #3e3e3e;
}
.window-caption {
padding: 5px 10px;
spacing: 25px;
font-weight: bold;
background: #3e3e3e;
border-radius:1px;
-cinnamon-caption-spacing: 4px;
}
.window-caption#selected {
}
.window-close {
background-image: url("close.png");
height: 26px;
width: 26px;
-cinnamon-close-overlap: 16px;
-st-background-image-shadow: #3e3e3e;
transition-duration: 150;
}
.window-close:active {
-st-background-image-shadow: #3e3e3e;
transition-duration: 0;
}
.workspace-close-button {
background-image: url("close-workspace.png");
background-color: #3e3e3e;
border-radius:1px;
height: 26px;
width: 26px;
-cinnamon-close-overlap: 26px;
transition-duration: 150;
}
.workspace-close-button:active {
transition-duration: 0;
}
.workspace-thumbnails {
spacing: 7px;
}
.workspace-add-button {
background-image: url("add-workspace.svg");
background-color: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none; 
border-radius: 1px 0px 0px 1px;
transition-duration: 150;
height: 40px;
width: 30px;
}
.workspace-add-button:active {
transition-duration: 0;
}
.window-close-area {
background-image: url("trash.png");
background-color: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none; 
border-radius: 1px;
height: 150px;
width: 250px;
}
.ripple-box {
width: 104px;
height: 104px;
background-image: url("corner-ripple.svg");
}
/* ===================================================================
* Looking Glass 
* ===================================================================*/
#LookingGlassDialog {
background: rgba(0,0,0,0.85);
spacing: 4px;
padding: 4px;
border-radius: 2px;
border: 1px solid #161616;
color: #00c400;
box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.5);
}
#LookingGlassDialog > #Toolbar {
border: 1px solid #00c400;
border-top: 0px;
border-left: none;
border-right: none;
padding-bottom: 4px;
}
#LookingGlassDialog .labels {
spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
padding: 1px 8px;
color: #00c400;
}
#LookingGlassDialog .notebook-tab:hover {
color: #00ff00;
}
#LookingGlassDialog .notebook-tab:selected {
background: #00c400;
border-radius: 2px;
color: #000;
}
#LookingGlassDialog .lg-inspector-title {
font-weight: bold;
padding-bottom: 8px;
}
.lg-dialog StLabel {
color: #FFFFFF;
}
.lg-dialog StEntry {
color: #FFFFFF;
}
.lg-obj-inspector-title {
spacing: 4px;
}
.lg-obj-inspector-button {
background: #3e3e3e;
border: 1px solid #3e3e3e;
height: 14px;
padding: 0 8px;
border-radius: 1px;
color: rgba(153,204,0,1.0);
}
.lg-obj-inspector-button:hover {
background: #3e3e3e;
border: 1px solid #3e3e3e;
color: #000;
}
.lg-dialog .cinnamon-link {
color: #FFFFFF;
}
.lg-dialog .cinnamon-link:hover {
color: #FFFFFF;
}
#LookingGlassDialog StBoxLayout#EvalBox {
padding: 4px;
spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
spacing: 4px;
}
#lookingGlassExtensions {
padding: 4px;
}
.lg-extension-list {
padding: 4px;
spacing: 6px;
}
.lg-extension {
border: 1px solid #3e3e3e;
border-top: 0px;
border-left: none;
border-right: none;
padding: 4px 0px;
}
.lg-extension-name {
font-weight: bold;
}
.lg-extension-meta {
spacing: 6px;
}
#LookingGlassPropertyInspector {
background: #3e3e3e;
border-radius: 1px;
border: 1px solid #3e3e3e;
padding: 6px;
color: #FFFFFF;
}
/* ===================================================================
* Date applet 
* ===================================================================*/
.calendar {
padding: .4em 1.75em .8em 1.75em;
spacing-rows: 0px;
spacing-columns: 0px;   
}
.calendar-month-label {
color: #fff;
font-size: 9.5pt;
font-weight: bold;
padding-bottom: 8px;
padding-top: 8px;   
}
.calendar-change-month-back {
width: 18px;
height: 12px;
background-image: url("calendar-arrow-left.png");
border-radius: 0px;
}
.calendar-change-month-back:rtl {
background-image: url("calendar-arrow-right.png");
}
.calendar-change-month-back:hover {
background-color: transparent;
background-image: url("calendar-arrow-left-hover.png");
}
.calendar-change-month-back:hover:rtl {
background-color: transparent;
background-image: url("calendar-arrow-right-hover.png");
}
.calendar-change-month-back:active {
background-image: url("calendar-arrow-left.png");
background-color: transparent;
}
.calendar-change-month-back:active:rtl {
background-image: url("calendar-arrow-right.png");
background-color: transparent;
}
.calendar-change-month-forward {
width: 18px;
height: 12px;
background-image: url("calendar-arrow-right.png");
border-radius: 0px;
}
.calendar-change-month-forward:rtl {
background-image: url("calendar-arrow-left.png");
}
.calendar-change-month-forward:hover {
background-color: transparent;
background-image: url("calendar-arrow-right-hover.png");
}
.calendar-change-month-forward:hover:rtl {
background-color: transparent;
background-image: url("calendar-arrow-left-hover.png");
}
.calendar-change-month-forward:active {
background-image: url("calendar-arrow-right.png");
background-color: transparent;
}
.calendar-change-month-forward:active:rtl {
background-image: url("calendar-arrow-left.png");
background-color: transparent;
}
.datemenu-date-label {
color: #FFFFFF;
padding: 25px 25px;
width: 100%;
text-align: center;
font-weight: bold;
}
.calendar-day-base {
font-size: 9pt;
text-align: center;
width: 2.4em;
height: 2.4em;
}
.calendar-day-base:hover {
background-color: #f53b57;
}
.calendar-day-base:active {
background: #f53b57;
box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
color: #fff;
}
.calendar-day-base:active:hover {
font-size: 9pt;
background-color: #3e3e3e;
background-image: none;
color: #FFFFFF;
}
.calendar-day-heading {
color: #FFFFFF;
padding-top: .2em;
height: 1.7em;
}
.calendar-week-number {
color: #FFFFFF;
font-weight: bold;
}
.calendar-day {
border: 1px solid #3e3e3e;
color: #fff;
border-top-width: 0;
border-left-width: 0;
}
.calendar-day-top {
border-top-width: 1px;
}
.calendar-day-left {
border-left-width: 1px;
}
.calendar-work-day {
}
.calendar-nonwork-day {
background-color: #3e3e3e;
}
.calendar-today { 
font-weight: bold;
background-color:#f53b57;
border-radius: 50px;
}
.calendar-other-month-day {
color: #FFFFFF;
}
.calendar-day-with-events {
font-weight: bold;
color: #FFFFFF;
}
/* ===================================================================
* Notifications
* ===================================================================*/
#notification {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none;
border-radius: 1px; 
padding: 8px;
spacing-rows: 10px;
spacing-columns: 10px;
margin-from-right-edge-of-screen: 0px;
width: 330px;
}
#notification.multi-line-notification {
padding-bottom: 8px;
font-style: normal; 
}
.notification-with-image {
min-height: 159px;
}
#notification-scrollview {
max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
padding-right: 6px;
}
#notification-body {
spacing: 5px;
}
#notification-actions {
spacing: 10px;
}
/* ===================================================================
* Alt Tab
* ===================================================================*/
#altTabPopup {
background: #3e3e3e;
padding: 16px;
spacing: 0px;
}
.switcher-list {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none;
border-radius: 1px; 
padding: 10px;
font-size: 9pt;
font-weight: bold;
}
.switcher-list-item-container {
spacing: 8px;
}
.switcher-list .item-box {
padding: 8px 8px 7px 8px;
border: 1px solid transparent; 
border-right: none;
border-left: none;
border-top: none;
}
.switcher-list .item-box:outlined {
}
.switcher-list .item-box:selected {
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-top: none;
border-radius: 1px;
}
.switcher-list .thumbnail-box {
padding: 2px;
spacing: 4px;
}
.switcher-list .thumbnail {
width: 256px;
}
.switcher-arrow {
color: transparent;
}
.switcher-outline-background {
background: transparent;
}
.switcher-preview-backdrop {
background: #3e3e3e;
}
/* ===================================================================
* Modal dialogs
* ===================================================================*/
.modal-dialog {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none; 
border-radius: 1px;
padding: 15px;
}
.modal-dialog-button-box {
spacing: 21px;
}
.modal-dialog-button {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none; 	
border-radius: 1px;
padding: 5px 0px 6px 0px;
min-width: 105px;
font-weight: bold;
color: #FFFFFF;
}
.modal-dialog-button:hover {
}
.modal-dialog-button:active,
.modal-dialog-button:pressed {
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-top: none;
border-radius: 1px;
padding: 6px 0px 5px 0px;
}
.modal-dialog-button:disabled {
color: #444;
}
.info-osd {
background-color: #3e3e3e;
font-size: 9pt;
color: #FFFFFF;
font-size: 14pt;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-top: 10px;
text-align: center;
}
/* ===================================================================
* Exécuter le dialogue
* ===================================================================*/
.run-dialog-label {
font-size: 2px;
color: transparent;
}
.run-dialog-error-label {
}
.run-dialog-error-box {
color: #555;
padding-top: 5px;
spacing: 5px;
}
.run-dialog-entry {
padding: 5px 10px;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-top: none;
border-radius: 1px;
selected-color: #bbb;
caret-color: #444;
caret-size: 1px;
color: #aaa;
width: 250px;
}
.run-dialog {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none; 	
border-radius: 1px;
padding: 8px 10px 10px 10px;
}
.lightbox {
background: #3e3e3e;
}
/* ===================================================================
* Policykit authentication dialog
* ===================================================================*/
.polkit-dialog {
width: 500px;
}
.polkit-dialog-main-layout {
spacing: 24px;
padding: 10px;
}
.polkit-dialog-message-layout {
spacing: 16px;
}
.polkit-dialog-headline {
font-size: 11pt;
font-weight: bold;
}
.polkit-dialog-description {
}
.polkit-dialog-user-layout {
padding-left: 10px;
spacing: 10px;
}
.polkit-dialog-user-layout:rtl {
padding-left: 0px;
padding-right: 10px;
}
.polkit-dialog-user-root-label {
}
.polkit-dialog-password-label:ltr {
padding-top: 5px;
padding-right: 0.5em;
}
.polkit-dialog-password-label:rtl {
padding-left: 0.5em;
}
.polkit-dialog-password-entry {
padding: 5px 10px;
border: 1px solid #3e3e3e;
border-right: none;
border-left: none;
border-top: none;
border-radius: 1px;
selected-color: #bbb;
caret-color: #444;
caret-size: 1px;
color: #aaa;
width: 250px;
}
.polkit-dialog-password-entry:focus {
}
.polkit-dialog-password-entry .capslock-warning {
icon-size: 16px;
warning-color: #bbb;
padding: 0 4px;
}
.polkit-dialog-error-label {
padding-bottom: 8px;
}
.polkit-dialog-info-label {
padding-bottom: 8px;
}
.polkit-dialog-null-label {
font-size: 9pt;
color: rgba(0,0,0,0);
padding-bottom: 8px;
}
.network-dialog-secret-table {
spacing-rows: 15px;
}
/* ===================================================================
* Magnifier
* ===================================================================*/
.magnifier-zoom-region {
border: 1px solid #3e3e3e;
}
.magnifier-zoom-region.full-screen {
border-width: 0px;
}
/* ===================================================================
* On screen keyboard
* ===================================================================*/
#keyboard {
background: #3e3e3e;
}
.keyboard-layout {
spacing: 10px;
padding: 10px;
}
.keyboard-row {
spacing: 15px;
}
.keyboard-key {
min-height: 30px;
min-width: 30px;
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none; 
border-radius: 1px;
font-weight: bold;
font-size: 14pt;
}
.keyboard-key:grayed {
color: #444;
}
.keyboard-key:checked,
.keyboard-key:hover {
}
.keyboard-key:active {
}
.keyboard-subkeys {
padding: 5px;
-arrow-border-radius: 0px;
-arrow-background-color: rgba(0,0,0,0.8);
-arrow-base: 20px;
-arrow-rise: 10px;
-boxpointer-gap: 6px;
}
/* ###################################################################
* Cinnamon Specific Section 
* ###################################################################*/
/* ===================================================================
* Menu (menu.js)
* ===================================================================*/
.menu-favorites-box {  
margin: auto;
background-color: #303030;
padding: 0.5em;
border-radius:1px;
box-shadow: 0 1px 0 #3e3e3e, 0 2px 1px rgba(0,0,0,.9) inset;
}
.menu-favorites-button {
padding: 10px;
border: 1px solid transparent; 
border-right: none;
border-left: none;
border-top: none;
}
.menu-favorites-button:hover {
background-color: #f53b57;
border-radius:1px;
}
.menu-places-box {
padding: 10px;
}
.menu-places-button {
padding: 10px;
}
.menu-categories-box {
padding: 10px 30px;
}
.menu-applications-box {
padding: 10px 10px 0px 10px;
}
.menu-application-button {
padding: 7px;
border: 1px solid transparent; 
border-right: none;
border-left: none;
border-top: none;
}
.menu-application-button:hover,
.menu-application-button-selected {
padding: 7px;
background-color: #f53b57;
border-radius:1px;
}
.menu-application-button-label:ltr { 
padding-left: 5px;
}
.menu-application-button-label:rtl { 
padding-right: 5px;  
}
.menu-category-button {
padding: 7px;
border: 1px solid transparent; 
border-right: none;
border-left: none;
border-top: none; 
}
.menu-category-button-greyed {
padding: 7px; 
color: #555;
border: 1px solid transparent; 
border-right: none;
border-left: none;
border-top: none; 
border-radius: 1px;
}
.menu-category-button-selected {
padding: 7px;
background-color: #f53b57;
border-radius:1px;
}
.menu-category-button-label:ltr { 
padding-left: 5px; 
}
.menu-category-button-label:rtl { 
padding-right: 5px;      
}
.menu-category-button-label:first-child { 
padding: 3px 5px;
font-weight: bold;
}
.menu-selected-app-box {
padding-right: 30px;
padding-left: 28px;
text-align: right;
}
.menu-selected-app-box:rtl {
padding-top: 10px;
height: 30px;
}
.menu-selected-app-title {
font-weight: bold;
}
.menu-selected-app-description {
max-width: 150px;
font-size: 8pt;
padding-bottom: .4em;
}
.menu-search-box:ltr {
padding-left: 30px;
}
.menu-search-box:rtl {
padding-right: 30px;
}
#menu-search-entry {
background-color: #303030;
padding: 5px 10px;
border-radius:1px;
selected-color: #bbb;
caret-color: #444;
caret-size: 1px;
width: 250px;
color: #FFFFFF;
border-radius:1px;
box-shadow: 0 1px 0 #3e3e3e, 0 2px 1px rgba(0,0,0,.9) inset;
}
.menu-search-entry-icon {
icon-size: 1em;
color:#f53b57;
}
/* ===================================================================
* Window list (windowList.js)
* ===================================================================*/
.window-list-box {
spacing: 6px;
padding-left: 10px;
padding-top: 1px; }
.window-list-item-label {
font-weight: bold;
width: 15em;
min-width: 5px; }
.window-list-item-box {
font-weight: bold;
background-image: none;
padding-left: 8px;
padding-right: 8px;
transition-duration: 100;
color: rgba(255, 255, 255, 0.6); }
.window-list-item-box:hover {
color: #ffffff; 
}
.window-list-item-box:active, 
.window-list-item-box:checked, 
.window-list-item-box:focus {
color: #ffffff;
background: #f53b57 3 3 1 3; 
}
.window-list-item-demands-attention {
background-gradient-direction: vertical;
background-gradient-start: #F04A50;
background-gradient-end: #F04A50; 
}
/* ===================================================================
* Sound Applet (status/volume.js)
* ===================================================================*/
.sound-button {
width: 22px;
height: 13px;
padding: 8px; }
.sound-button-container {
padding-right: 3px;
padding-left: 3px; 
}
.sound-button StIcon {
icon-size: 1.4em; 
}
.sound-track-infos {
padding: 5px; 
}
.sound-track-info {
padding-top: 2px;
padding-bottom: 2px; 
}
.sound-track-info StIcon {
icon-size: 16px; 
}
.sound-track-info StLabel {
padding-left: 5px;
padding-right: 5px; 
}
.sound-track-box {
padding-left: 15px;
padding-right: 15px;
max-width: 220px; 
}
.sound-seek-box {
padding-left: 15px; 
}
.sound-seek-box StLabel {
padding-top: 2px; 
}
.sound-seek-box StIcon {
icon-size: 16px; 
}
.sound-seek-slider {
width: 140px; 
}
.sound-volume-menu-item {
padding: .4em 1.75em; }
.sound-volume-menu-item StIcon {
icon-size: 1.14em;
padding-left: 8px;
padding-right: 8px; 
}
.sound-playback-control {
padding: 5px 10px 10px 10px; 
}
.sound-player {
padding: 0 4px; 
}
.sound-player > StBoxLayout:first-child {
padding: 5px 10px 12px 10px;
spacing: 0.5em; 
}
.sound-player > StBoxLayout:first-child StButton:small {
width: 16px;
height: 8px;
padding: 1px; 
}
.sound-player > StBoxLayout:first-child StButton:small StIcon {
icon-size: 12px; 
}
.sound-player-generic-coverart {
background: rgba(0, 0, 0, 0.2); 
}
.sound-player-overlay {
width: 290px;
height: 70px;
padding: 15px;
spacing: 0.5em;
background: rgba(40, 40, 40, 0.85);
border: 0px solid rgba(28, 28, 28, 0.95);
border-bottom: 1px;
color: #c3c3c3; 
}
.sound-player-overlay StButton {
width: 22px;
height: 13px;
padding: 5px;
color: #c3c3c3;
border-radius: 2px;
border: 1px solid rgba(53, 53, 53, 0); 
}
.sound-player-overlay StButton StIcon {
icon-size: 16px; 
}
.sound-player-overlay StButton:hover {
color: #c3c3c3;
border: 1px solid #3e3e3e;
background-color: #f53b57; }
.sound-player-overlay StButton:active {
text-shadow: 0 1px rgba(64, 64, 64, 0);
color: #FFFFFF;
background-color: #f53b57;
border: 1px solid #3e3e3e;
}
.sound-player-overlay StBoxLayout {
padding-top: 2px; 
}
.sound-player-overlay > StBoxLayout {
spacing: 5px; 
}
.sound-player .slider {
height: 0.5em;
padding: 0;
border: none;
-slider-height: 0.5em;
-slider-background-color: #3e3e3e;
-slider-border-color: transparent;
-slider-active-background-color: #f53b57;
-slider-active-border-color: transparent;
-slider-border-width: 0px;
-slider-handle-radius: 0px; 
}
#workspaceSwitcher {
spacing: 0px;
padding: 3px; 
}
/* ===================================================================
* Workspace Switcher applet (workspaceSwitcher.js)
* ===================================================================*/
/* Controls the style when using the "Visual representation" option */
.workspace-graph {
padding: 3px;
spacing: 3px; 
}
.workspace-graph .workspace {
border: 1px solid #3e3e3e;
background-color: #3e3e3e; 
}
.workspace-graph .workspace:active {
border: 1px solid #f53b57; 
}
.workspace-graph .workspace .windows {
-active-window-background: #3e3e3e; 
-active-window-border: #3e3e3e;
-inactive-window-background: #3e3e3e;
-inactive-window-border: #3e3e3e; 
}
.workspace-graph .workspace:active .windows {
-active-window-background: rgba(105, 105, 105, 0.95);
-active-window-border: rgba(0, 0, 0, 0.8);
-inactive-window-background: rgba(54, 54, 54, 0.95);
-inactive-window-border: rgba(0, 0, 0, 0.8); 
}
/* ===================================================================
* Panel Launchers Applet (panelLaunchers.js)
* ===================================================================*/
#panel-launchers-box {
padding-left: 7px; 
}
.panel-launcher {
margin: 1px;
padding: 1px;
transition-duration: 200; 
}
.panel-launcher:hover {
border: 0px solid #f53b57;
border-bottom-width: 1px; 
}
/* ===================================================================
* Applets (applet.js) 
* ===================================================================*/
.applet-box {
padding-left: 5px;
padding-right: 5px;
transition-duration: 150;
font-weight: bold;
color: #FFFFFF;
border: 1px solid transparent;
min-width: 1em;
transition-duration: 150;
spacing: 3px;
}
.applet-box.vertical {
padding-left: 0px;
padding-right: 0px;
padding-top: 3px;
padding-bottom: 3px;
}
.applet-box:hover {
background-color: #f53b57;
border-radius:1px;
transition-duration: 150;
}
#panelLeft .applet-box:first-child:hover {
background-color: #3e3e3e;
border-radius:1px;
transition-duration: 150;
}
#panelRight .applet-box:last-child:hover {
background-color:  #3e3e3e;
border-radius:1px;
transition-duration: 150;
}
.applet-label {
text-align: center;
}
.applet-separator {
padding: 5px 4px;
}
.applet-separator-line {
width: 2px;
background: #999;
}
/* ===================================================================
* Workspace OSD
* ===================================================================*/
.workspace-osd {
font-size: 3em;
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none; 
border-radius: 1px;
font-weight: bold;
padding: 10px 16px;
color: #aaa;
}
.expo-workspaces-name-entry {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-right: none;
border-left: none;
border-bottom: none; 
border-radius: 1px;
font-weight: bold;
color: #FFFFFF;
padding: 5px 10px;
height: 16px;
transition-duration: 150;
}
.expo-workspaces-name-entry:focus {
background: transparent;
border: 1px solid transparent; 
box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.9);
border-right: none;
border-left: none;
border-bottom: none; 
border-radius: 1px;
selected-color: #bbb;
caret-color: #3e3e3e;
caret-size: 1px;
color: #bbb;
}
/* ===================================================================
* Desklets (desklet.js) 
* ===================================================================*/
.desklet {        
color: #fff;    
}
.desklet-with-borders {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
border-right: none;
border-left: none;
border-bottom: none; 
border-radius-bottomleft: 1px;
border-radius-bottomright: 1px;
border-radius-topleft: 1px;
border-radius-topright: 1px;
padding: 5px;
}
.desklet-with-borders-and-header {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
border-right: none;
border-left: none;
border-bottom: none; 
border-radius-bottomleft: 1px;
border-radius-bottomright: 1px;
padding: 5px;
}
.desklet-header { 
background: #3e3e3e;
border: 1px solid #3e3e3e; 
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
border-right: none;
border-left: none;
border-bottom: none;
border-radius-topleft: 1px;
border-radius-topright: 1px;
font-weight: bold;
color: #aaa;
padding: 5px;
}
.desklet-drag-placeholder { 
border: 1px solid #3e3e3e;
border-radius: 1px;
background: none;
}
.xkcd-box {
padding: 0px;
border: 0px solid #96A8C8;
background-color: rgba(150, 168, 200, 0.0);
border-radius: 0px;
}
/* ===================================================================
* Clock Desklet (desklet.js) 
* ===================================================================*/
.clock-desklet-label {
}
/* ===================================================================
* Notification Applet
* ===================================================================*/
.notification-applet-padding {
padding: 5px;
spacing: 5px;
}
.notification-applet-container {
max-height: 100px;
}
.popup-menu #notification {
background: #3e3e3e;
border: 1px solid #3e3e3e; 
border-radius: 0px;
box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.9);
border-right: none;
border-left: none;
border-top: none;
border-radius: 1px;
}
/*fix*/
/* Check Boxes */
.notification-applet-padding {
padding: .4em 1.25em;
spacing: 5px;
}

.notification-applet-container {
max-height: 100px;
}

.popup-menu #notification {
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
border-right: 1px;
	padding: 10px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .3em;
    height: 26px;
}

.check-box StBin,
.check-box:focus StBin {
    width: 20px;
    height: 20px;
    background-image: url("checkbox-off.png");
}

.check-box:checked StBin {
    background-image: url("checkbox.png");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.png");
}

.check-box StLabel {
    padding-top: 3px;
}

.radiobutton CinnamonGenericContainer {
    spacing: .3em;
    height: 26px;
}

.radiobutton StBin,
.radiobutton:focus StBin {
    width: 24px;
    height: 24px;
    background-image: url("radiobutton-off.png");
}

.radiobutton:checked StBin,
.radiobutton:focus:checked StBin {
    background-image: url("radiobutton.png");
}

.radiobutton StLabel {
padding-top: 4px;
}

.flashspot {
   background-color: white;
}
/* Media keys OSD popup */
.osd-window {
    background-color: #1e1e1e;
    padding: 20px;
    color: white;
    spacing: 1em;
}

.osd-window .level {
    height: 0.7em;
    border-radius: 0.3em;
    background-color: rgba(190,190,190,0.2);
}
